/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 12px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

#logo{
  text-align: center;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
    margin-left: 10px;
}

h2, h3{
    margin-bottom: 0;
    margin-left: 10px;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
    width: 100%;
}

#main_nav a{
    display: block;
    padding: 10px 8%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

#main_content{
  background-color: #ddffff;
}

div {
  margin: 10px;
}

#sidebar_content{
  background-color: #ffffdd;
  align-content: space-between;
}
#site_footer{
  background-color: #ddddff;
  display: flex;
  height: 40px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

}

#site_footer a{
  padding-left: 20px;
}

/* ---------- Tablet styling here -------    */

@media screen and ( min-width: 600px ) {

#main_nav{
  width: 100%;
}

#main_nav a{
  display: inline;
  width: auto;
}

body {
  margin:10%;
  font-size: 14px;
  line-height: 1.6;
}

#sidebar_content {
  display: flex;
  flex-flow: row;
  align-content: space-between;
}
#sidebar_content div{
  flex-basis: 33%;
}

/* --------- Big Terminal styling here --------   */

@media screen and ( min-width: 1100px ) {

body {
  flex-direction: row;
}
header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

}
#main_content {
  display: flex;
  flex-flow: row;
  align-content: space-between;
}
#main_content div:nth-child(1){
  flex:2;
}
#main_content div:nth-child(2){
  flex:1;
}
